<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288725801933-gs21crur2ucc17biaofvqjbmb8df7ppu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288725801933-gs21crur2ucc17biaofvqjbmb8df7ppu</string>
	<key>API_KEY</key>
	<string>AIzaSyCLPqo557zvqFUzTVnNuQ_6IvYpBDpOJuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>288725801933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.pixolity.instagramCloneCourse</string>
	<key>PROJECT_ID</key>
	<string>ig-clone-course-fer</string>
	<key>STORAGE_BUCKET</key>
	<string>ig-clone-course-fer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288725801933:ios:ce1b97719d15a9d6370284</string>
</dict>
</plist>